.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
}


.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
}


.form-groups {
  margin-bottom: 20px;
}

.form-groups input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-groups input:focus {
  border-color: #1e0439;
}

/* Submit button */
.submit-btn {
  text-align: center;
}

.submit-btn button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background: #470382;
  transition: all 0.5s ease;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.submit-btn button:hover {
  background: #3e0163;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .login-box {
    padding: 25px;
  }

  .form-title {
    font-size: 18px;
  }

  .form-groups input {
    font-size: 14px;
  }

  .submit-btn button {
    font-size: 14px;
    padding: 10px;
  }
}