.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    right: 0;
    position: fixed;
}

.nav-logo {
    flex: 1;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.item-groups {
    display: flex;
    flex: 2;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.item-groups a {
    color: #000;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.item-groups a:hover {
    color: rgb(3, 205, 138);
    text-decoration: underline;
}

.login-btn {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.login-btn .login {
    padding: 8px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.login-btn .login:hover {
    background-color:#242424;
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-logo {
        margin-bottom: 10px;
        text-align: center;
    }

    .item-groups {
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

    .login-btn {
        justify-content: center;
        width: 100%;
    }

    .login-btn .login {
        width: 100%;
        max-width: 200px;
    }

    .item-groups a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .item-groups a {
        font-size: 14px;
    }
}